.section {
  width: 1440px;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0 auto;
}

.bg-lake {
  background-image: url(images/HeroImage.png);
}
.logo{
  top: '10px';
  position: absolute;
}
.logo img{
  height: 40px;
  width: 100px;
  margin-left: 80px;
  margin-top: 20px;
}
.header{
  display: flex;
  /* width: 1440px; */
  height: 100px;
  justify-content:center ;
  font-size: 25px;
  gap: 100px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

  
}
.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-inline: 40px;
}
.text{
  color: white;
  margin-top: 30px;
}
.eng img{
 position: absolute;
 /* margin-left: 1250px;  */
}

.body{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: sans-serif;
  margin-top: 250px;
}
.body-text1{
  color: aliceblue;
  font-size: 60px;
  opacity: 0.7  ;
}
.body-text2{
  color: aliceblue;
  font-size: 200px;
}
.body-text3{
  color: aliceblue;
  opacity: 0.7;
  font-size: 90px;
}
.terkhiin{
  background-image: url(images/terkh.png);
  border-radius: 40px;
  box-shadow: 8px 8px #b8d7e1 ,  -8px -8px #8db9d6;;
  display: flex;
  justify-content: center;
  align-items: center;
}
.amarba{
  background-image: url(images/amar.png);
  border-radius: 40px;
  box-shadow: 8px 8px #b8d7e1 ,  -8px -8px #8db9d6;;
}
.khuvsgul{
  background-image: url(images/huwsgul.png);
  border-radius: 40px;
  box-shadow: 8px 8px #b8d7e1 ,  -8px -8px #8db9d6;;
}
.khorgiin{
  background-image: url(images/khorg.png);
  border-radius: 40px;
  box-shadow: 8px 8px #b8d7e1 ,  -8px -8px #8db9d6;;
}
.card{
  display: flex;
  justify-content: center;
  align-items: center;
}
.location {
  background-image: url(images/Location\ image.png);
  width: 1440px;
  height: 512px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.zuragnuud {
  display: flex;
    gap: 50px;
  border-radius: 40px;
}
.card {
  width: 275px;
  height: 370px;
  border-radius: 40px;
  background-size: cover;
  background-position: center;
}
.card{
  display: flex;
  justify-content: center;
  align-items: center;
  color: aliceblue;
  font-size: 25px ;
  font-family: sans-serif;

}
.card:hover{
  filter: brightness(60%);
}
.roadmap{
  background-image: url(images/Roadmap\ image.png);
  width: 1440px;
  height: 1022px;
  background-repeat: no-repeat;
  background-size: cover;
  margin: auto;
  display: flex;

}
.pill{
    width: 513px;
    height: 112px;
    border-radius: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    
    
}
.pills{
  /* margin-top: 260px; */
  display: flex;
  gap: 20px;
  flex-direction: column;
  width: 513px;
  height: 640px;
  /* margin-left: 120px; */
}
.square{
  background-color: #EEE9D9;
  
}
.monastery{
  background-color: #8BB8C1CC;
  opacity: 0.8;
}
.togoo{
  background-color: #AAD8D7CC;
  opacity: 0.8;
}
.tsagaan-lake{
  background-color: #8BC0BDCC;
  opacity: 0.8;
}
.lake{
  background-color: #97CCE0CC;
  opacity: 0.8;
}
.mid-text{
  width: 1442px;
  height: 85px;
  position: absolute;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 80px
 
}
.bot{
  display: flex;
  flex-direction: row;
  margin-left: 35px;
  gap: 10px;
}
.top{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 25px;
}
.days{
  font-size: 15px;
  width: 52px;
  height: 48px;
  background-color: white;
  border-radius: 360%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
}
.pill:hover{
  border: white 5px solid;
}
.middle{
  width: 1200px ;
  height: 640px ;
  margin-top: 260px;
  margin-left: 120px;
  display: flex;
  gap: 40px;
}
/* .loc{
  width: 647px;
  height: 640px;  
  position: relative;
} */
.sukh img{
 top: 65px;
 left: 359px;
 position: relative;
 transform: rotate(-5deg);
}
.amar img{
 position: relative;
 top: -46px;
 left: 163px;
 transform: rotate(-5deg);
}
.khorg img{
 top: 82px;
 left: 30px;
 position: relative;
 transform: rotate(-5deg);
}
.hemjee{
   width: 245.34px;
  height: 245px;
  position: absolute;
  transform: rotate(-5deg);
}
.hemjee img{
   width: 245.34px;
  height: 245px;
}
.terkh img{
  position: relative;
  top: -84px;
  left: -21px;
  transform: rotate(-5deg);
}
.huvs img{
  position: relative;
  top: -80px;
  left: 146px;
  transform: rotate(-5deg);
}
 .sukhe{
  display: none
}
 .square:hover + .sukhe{
  display: block;
 }
 .sukhe{
  margin-top: 65px;
  margin-left: 918px;
 }
 .monas{
  margin-top: -46px;
  margin-left: 713px;
 }
.monas{
  display: none;
  position: absolute;
}
.monastery:hover + .monas{
  display: block;
}
.khorgo{
  margin-left: 583px;
  margin-top: 82px;
  display: none;
}
.togoo:hover + .khorgo{
  display: block;
}
.ter{
 margin-left: 532px;
 margin-top: -84px;
 display: none;
}
.tsagaan-lake:hover + .ter{
  display: block;
}
.khuv{
  display: none;
  margin-left: 699px;
  margin-top: -80px;
}
.lake:hover + .khuv{
  display: block;
}
.footer{
  background-image: url(images/Price&Footer\ image.png);
   width: 1440px;
  height: 1120px;
  background-repeat: no-repeat;
  background-size: cover;
  margin: auto;
  flex-direction: column;
}
.cards{
  width: 1200px;
  height: 527px;
  position: relative;
  left: 120px;
  top: 113px;
  display:flex;
  gap: 24px;
}
.head-text{
  width: 1440px;
  height: 85px;
  position: relative;
  top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  
}
.size{
    width: 384px;
    height: 527px;
    background-color: #FAFBFC;
    border-radius: 40px;
}
.package{
  width: 384px;
  height: 92px;
  display: flex;
  gap: 16px;
  align-items: center; 
  /* margin-left: 24px; */
    position: relative;
  left: 24px;
}
.small-logo{
  width: 14px;
  height: 14px;
}
.small-logo img{
  width: 14px;
  height: 14px;
}
.small-logo-2{
  width: 34px;
  height: 34px;
}
.small-logo-2{
  width: 34px;
  height: 34px;
}
.next{
  font-size: 18px;
}
.details{
width: 384px;
height: 435px;
}
.price{
  width: 336px;
  height: 290px;
  position: relative;
  top: 12px;
  left: 24px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.une{
 font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 font-size: 40px;
}
.tailbar{
  font-size: 16px;
  color: #919191;
}
.select{
  width: 336px;
  height: 48px;
  border-radius: 30px;
  background-color: #A4D1E2;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 24px;
top: 37px;
}
.inc{
  display: flex;
  gap: 16px;
  flex-direction: column;
}
.box:hover .select{
  background-color: #292727;
  color: white;
}
.box:hover{
  box-shadow: 8px 8px #b8d7e1 ,  -8px -8px #8db9d6;
}
.small-logo{

}
.last{
  width: 1440px;
  height: 204px;
  position: relative;
  top: 303px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.op{
  width: 1200px;
  height: 44px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.fb img{
  width: 24px;
  height: 24px;
}
.fb{
  color: #6972B5;
  height: 44px;
  width: 167px;
  font-size: 18px;
  border-radius: 30px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.media{
  display: flex;
  flex-direction: row;
  width: 358px;
  height: 44px;
  justify-content: space-between;
}
.end img{
  width: 101px;
  height: 35px;
}
