.section {
  width: 1440px;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0 auto;
}

.bg-lake {
  background-image: url(HeroImage.png);
}
.logo{
  top: '10px';
  position: absolute;
}
.logo img{
  height: 40px;
  width: 100px;
  margin-left: 80px;
  margin-top: 20px;
}
.header{
  display: flex;
  /* width: 1440px; */
  height: 100px;
  justify-content:center ;
  font-size: 25px;
  gap: 100px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

  
}
.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-inline: 40px;
}
.text{
  color: white;
  margin-top: 30px;
}
.eng img{
 position: absolute;
 /* margin-left: 1250px;  */
}

.body{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: sans-serif;
  margin-top: 250px;
}
.body-text1{
  color: aliceblue;
  font-size: 60px;
  opacity: 0.7  ;
}
.body-text2{
  color: aliceblue;
  font-size: 200px;
}
.body-text3{
  color: aliceblue;
  opacity: 0.7;
  font-size: 90px;
}
.terkhiin{
  background-image: url(terkh.png);
  border-radius: 40px;
  box-shadow: 8px 8px #b8d7e1 ,  -8px -8px #8db9d6;;
}
.amarba{
  background-image: url(amar.png);
  border-radius: 40px;
  box-shadow: 8px 8px #b8d7e1 ,  -8px -8px #8db9d6;;
}
.khuvsgul{
  background-image: url(huwsgul.png);
  border-radius: 40px;
  box-shadow: 8px 8px #b8d7e1 ,  -8px -8px #8db9d6;;
}
.khorgiin{
  background-image: url(khorg.png);
  border-radius: 40px;
  box-shadow: 8px 8px #b8d7e1 ,  -8px -8px #8db9d6;;
}
.card{
  display: flex;
}
.location {
  background-image: url("Location image.png");
  width: 1440px;
  height: 512px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.zuragnuud {
  display: flex;
    gap: 50px;
  border-radius: 40px;
}
.card {
  width: 275px;
  height: 370px;
  border-radius: 40px;
  background-size: cover;
  background-position: center;
}
.card{
  display: flex;
  justify-content: center;
  align-items: center;
  color: aliceblue;
  font-size: 25px ;
  font-family: sans-serif;

}
.card:hover{
  filter: brightness(60%);
}
.roadmap{
  background-image: url(Roadmap\ image.png);
  width: 1440px;
  height: 1022px;
  background-repeat: no-repeat;
  background-size: cover;
  margin: auto;
  display: flex;

}
.pill{
    width: 513px;
    height: 112px;
    border-radius: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    
    
}
.pills{
  margin-top: 260px;
  display: flex;
  gap: 20px;
  flex-direction: column;
  margin-left: 120px;
}
.square{
  background-color: #EEE9D9;
  
}
.monastery{
  background-color: #8BB8C1CC;
  opacity: 0.8;
}
.togoo{
  background-color: #AAD8D7CC;
  opacity: 0.8;
}
.tsagaan-lake{
  background-color: #8BC0BDCC;
  opacity: 0.8;
}
.lake{
  background-color: #97CCE0CC;
  opacity: 0.8;
}
.mid-text{
  width: 1442px;
  height: 85px;
  position: absolute;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 80px
 
}
.bot{
  display: flex;
  flex-direction: row;
  margin-left: 35px;
  gap: 10;
}
.top{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 25px;
}
.days{
  font-size: 15px;
  width: 52px;
  height: 48px;
  background-color: white;
  border-radius: 360%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
}
.pill:hover{
  border: white 5px solid;
}
.middle{
  width: 1200px;
  height: 640px;
  top: 264px;
  left: 120px;
}
